<%- include('../includes/head', {webTitle: 'Dev Center – Legal Pages Sitemap' }) %>

    <%- include('../includes/header') %>
        <main>
            <div class="sitemap-container" style="padding-block: 2rem;">
                <div class="sitemap-content">
                    <div class="sitemap-header">
                        <div>
                            <h1>Dev Center – Legal Pages Sitemap</h1>
                        </div>
                    </div>

                    <hr />

                    <div class="sitemap-body">
                        <!-- Legal & Compliance :: Begins -->
                        <h2>Legal & Compliance</h2>
                        <ul>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                            <li><a href="/disclaimer">Disclaimer</a></li>
                            <li><a href="/cookie-policy">Cookie Policy</a></li>
                        </ul>
                        <!-- Legal & Compliance :: Ends -->

                        <!-- Company Info :: Begins -->
                        <h2>Legal & Compliance</h2>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                        <!-- Company Info :: Ends -->
                    </div>
                </div>
            </div>
        </main>


        <%- include('../includes/footer') %>