* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ~~~~~~ Colors variables :: Begins ~~~~~~ */
  --primary-color: #093a3e;
  --info-color: #3aafb9;
  --black-color: #001011;
  --danger-color: #f05365;
  /* ~~~~~~ Colors variables :: Ends ~~~~~~ */

  /* ~~~~~~ Border variables :: Begins ~~~~~~ */
  --border-color: #dbdbdb;

  --border-radius-sm: 5px;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  /* ~~~~~~ Border variables :: Ends ~~~~~~ */
}
/* ********** Base Style :: Begins ********** */
body {
  font-family: "Montserrat", sans-serif;
}
main {
  width: 75%;
  height: calc(100vh - 10rem);
  min-height: calc(100vh - 10rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ********** Base Style :: Begins ********** */

/* ********** Module Style :: Begins ********** */
/* ~~~~~ Header Style :: Begins ~~~~~ */
header {
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
}
header .header-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.logo {
  color: var(--black-color);
  font-size: 1.5rem;
  font-family: "Jacques Francois", serif;
  font-weight: 400;
}
a.logo .logo-span {
  color: var(--danger-color);
}
.header-container .navbar {
  display: flex;
  align-items: center;
}
.header-container .navbar ul {
  display: flex;
}
.header-container .navbar ul li {
  margin-left: 2rem;
}
.header-container .navbar ul li a {
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 400;
}
.header-container .navbar ul li a:active,
.header-container .navbar ul li a.active {
  color: var(--danger-color);
}
.signup-btn a {
  color: #fff;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-sm);
}
.header-container .humberger-menu {
  display: none;
}
.header-container .navbar-mobile {
  display: none;
}
/* ~~~~~ Header Style :: Ends ~~~~~ */

/* ~~~~~ Footer Style :: Begins ~~~~~ */
footer {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-top: 1px solid var(--border-color);
}
footer .footer-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-logo,
.footer-logo .logo {
  font-size: 0.875rem;
}
.social-links-container {
  display: flex;
  align-items: center;
}
.social-links-container ul {
  display: flex;
  margin-left: 1.5rem;
}
.social-link {
  width: 2rem;
  height: 2rem;
  /* background-color: #E9E9E9; */
  background-color: #a7a7a7;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.social-link span {
  color: #fff;
}
.social-link:hover {
  scale: 1.2;
}
.social-link.social-link-fb:hover {
  background-color: #29487d;
}
.social-link.social-link-twi:hover {
  background-color: #1d9bf0;
}
.social-link.social-link-linkdn:hover {
  background-color: #0077b5;
}
.social-link.social-link-yt:hover {
  background-color: #cd201f;
}

.footer-container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-container ul {
  display: flex;
}
.copyright-container ul li {
  color: var(--black-color);
  margin-left: 2.5rem;
}
.copyright-container ul li a {
  color: var(--black-color);
  font-size: 0.875rem;
}
/* ~~~~~ Footer Style :: Ends ~~~~~ */
/* ~~~~~ Main Style :: Begins ~~~~~ */
main .main-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ~~~~~ Form Style :: Begins ~~~~~ */
main .main-container .form-container {
  width: 25%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--Border-color);
  box-shadow: 0px 0px 8px 0px rgba(149, 157, 165, 0.2);
}
.auth-text {
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.form-container .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-container .input-container label {
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form-container .input-container input {
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0.7rem 0.5rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color, #dbdbdb);
}
.form-container .input-container input:active,
.form-container .input-container input:focus,
.form-container .input-container input:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
}
.form-btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-block: 2rem;
}
.custom-btn {
  height: 2.5rem;
  width: auto;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.custom-submit-btn{
  flex: 1;
  color: #fff;
  background-color: var(--primary-color);
}
.custom-reset-btn {
  flex: 1;
  color: #fff;
  background-color: var(--danger-color);
}
.login-signup-text {
  text-align: center;
}
.login-signup-text a{
  color: var(--primary-color);
  font-size: 1rem;
  text-decoration: underline;
}
/* ~~~~~ Form Style :: Ends ~~~~~ */
/* ~~~~~ Main Style :: Ends ~~~~~ */
/* ********** Module Style :: Ends ********** */

/* ********** Media queries Style :: Ends ********** */
@media only screen and (max-width: 600px) {
  .header-container .navbar {
    display: none;
  }
  .header-container .humberger-menu {
    display: block;
  }
  main .main-container .form-container{
    width: 100%;
  }
}
/* ~~~~~ Header Style :: Begins ~~~~~ */
