
<footer>
  <div class="footer-container">
    <div class="footer-container-top">
     <div class="social-links-container">
      <p>Follow us</p>
      <ul>
        <li><a href="#" class="social-link social-link-fb"><span><i class="fa-brands fa-facebook-f"></i></span></a></li>
        <li><a href="#" class="social-link social-link-twi"><span><i class="fa-brands fa-twitter"></i></span></a></li>
        <li><a href="#" class="social-link social-link-linkdn"><span><i class="fa-brands fa-linkedin-in"></i></span></a></li>
        <li><a href="#" class="social-link social-link-yt"><span><i class="fa-brands fa-youtube"></i></span></a></li>
      </ul>
     </div>
      <ul>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="footer-container-bottom">
      <h1 class="footer-logo"><a href="/" class="logo">Dev <span class="logo-span">Center</span></a></h1>
      <div class="copyright-container">
        <ul>
          <li> &copy; <span id="currentYear">2023</span> Dev Center</li>
          <li><a href="#">Manage cookies</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>