</head>
<body>
<header>
  <div class="header-container">
    <h1><a href="/" class="logo">Wolf <span class="logo-span">Dev</span></a></h1>
    <nav class="navbar">
      <ul>
        <li><a class="nav-link active" href="/">Home</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link" href="/login">Login</a></li>
      </ul>
      <span class="signup-btn"><a href="/signup">Sign Up</a></span>
    </nav>
    <div class="humberger-menu"></div>
    <nav class="navbar-mobile">
      <ul>
        <li><a class="nav-link active" href="/">Home</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link" href="/login">Login</a></li>
      </ul>
      <span class="signup-btn"><a href="/signup">Sign Up</a></span>
    </nav>
  </div>
</header>