</head>
<body>
<header>
  <div class="header-container">
    <h1 style="display: none;"><a href="/" class="logo">Dev <span class="logo-span">Center</span></a></h1>
    <h1><a href="/" class="logo"><img src="./img/assets/website-logo.png" alt="" srcset=""></h1>
    <nav class="navbar">
      <ul>
        <li><a class="nav-link active" style="display: none;" href="/">Home</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <!-- <li><a class="nav-link" href="/videos" style="display: none;">Videos</a></li> -->
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link" href="/contact">Contact</a></li>
        <li><a class="nav-link" href="/login">Login</a></li>
      </ul>
      <span class="signup-btn" style="display: none;"><a href="/signup">Sign Up</a></span>
      <span class="signup-btn"><a href="/admin">Admin</a></span>
    </nav>
    <div class="humberger-menu"></div>
    <nav class="navbar-mobile">
      <ul>
        <li><a class="nav-link active" style="display: none;" href="/">Home</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <!-- <li><a class="nav-link" href="/videos" style="display: none;">Videos</a></li> -->
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link" href="/contact">Contact</a></li>
        <li><a class="nav-link" href="/login">Login</a></li>
      </ul>
      <span class="signup-btn"><a href="/signup">Sign Up</a></span>
    </nav>
  </div>
</header>