<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dev Center - <%= webTitle %>
  </title>
  <!-- Google Fonts :: Begins -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <!-- Google Fonts :: Ends -->

  <link rel="shortcut icon" href="/img/assets/favicon.ico" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

  <!-- Font awesome :: Begins -->
  <script src="https://kit.fontawesome.com/8f46f31b06.js" crossorigin="anonymous"></script>
  <!-- Font awesome :: Ends -->

  <!-- BS5 CDN :: Begins -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- BS5 CDN :: Ends -->

  <!-- Select2 CSS CDN :: Begins -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <!-- Select2 CSS CDN :: Ends -->

  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.core.css" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

  <!-- BS5 JS CDN :: Begins -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- BS5 JS CDN :: Ends -->

  <!-- JQuery JS CDN :: Begins -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- JQuery JS CDN :: Ends -->

  <!-- Select2 JS CDN :: Begins -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- Select2 JS CDN :: Ends -->

  <!-- Custom CSS :: Begins -->
  <link rel="stylesheet" href="/css/custom.css" />
  <!-- Custom CSS :: Ends -->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Custum JS File :: Begins -->
  <script src="/js/util.js"></script>
  <!-- Custum JS File :: Ends -->