<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Center - <%= webTitle %></title>
    <!-- Google Fonts :: Begins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts :: Ends -->
    <!-- Font awesome :: Begins -->
    <script src="https://kit.fontawesome.com/8f46f31b06.js" crossorigin="anonymous"></script>
    <!-- Font awesome :: Ends -->

    <!-- Custom CSS :: Begins -->
    <link rel="stylesheet" href="css/custom.css" />
     <!-- Custom CSS :: Ends -->
