<style>
    .working-progress-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .working-progress-container h1 {
        color: #093a3e;
        font-size: 20px;
    }
</style>
<div class="working-progress-container">
    <h1>Work In Progress...</h1>
</div>