<%- include('../includes/head', {webTitle: 'Login'}) %>
<%- include('../includes/header') %>

<!-- login form container :: Begins -->
<main style="height: calc(100vh - 10rem);">
  <div class="main-container">
    <!-- Form container :: Begins -->
    <div class="form-container">
      <h2 class="auth-text">Login</h2>
      <form action="/login" method="POST">
         <!-- Form input container for Username :: Begins -->
        <div class="input-container">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required>
        </div>
        <!-- Form input container for Username :: Ends -->

        <!-- Form input container for Password :: Begins -->
        <div class="input-container">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </div>
        <!-- Form input container for Password :: Ends -->
        <!-- Form Button container :: Begins -->
        <div class="form-btn-container">
          <button type="reset" class="custom-btn custom-reset-btn" style="display: none;">Reset</button>
          <button type="submit" class="custom-btn custom-submit-btn ">Sign In</button>
        </div>
        <!-- Form Button container :: Ends -->
      </form>
      <!-- <p class="login-signup-text">Don't have an account? <a href="/signup">Sign up now</a></p> -->
    </div>
    <!-- Form container :: Ends -->
  </div>
</main>
<!-- login form container :: Ends -->
<%- include('../includes/footer') %>