<%- include('../includes/head', {webTitle: 'Blogs' }) %>
<%- include('../includes/header') %>
        <main>
            <div class="blog-container" style="padding-block: 2rem;">
                <h2 class="section-title">All Blogs</h2>
                <div class="blog-card-container">
                    <!-- Blog Card 1 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 1 :: Ends  -->
                    <!-- Blog Card 2 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 2 :: Ends  -->
                    <!-- Blog Card 3 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 3 :: Ends  -->
                    <!-- Blog Card 4 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 4 :: Ends  -->
                    <!-- Blog Card 5 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 5 :: Ends  -->
                    <!-- Blog Card 6 :: Begins  -->
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_1280.jpg" alt="">
                        </div>
                        <div class="blog-card-body">
                            <div class="blog-category">Web Developent</div>
                            <h2 class="blog-title">UX review presentations</h2>
                            <div class="blog-body">
                                <p>How do you create compelling presentations that wow your colleagues and impress your
                                    managers?</p>
                            </div>
                        </div>
                        <div class="blog-card-footer">
                            <div class="creator-details-container">
                                <span class="creator-avatar" id="creatorAvatar">
                                    AP
                                    <!-- <img src="" alt=""> -->
                                </span>
                                <div class="created-details">
                                    <span class="creator-name">Aslam Parvej</span>
                                    <span class="created-date">15-05-2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Card 6 :: Ends  -->
                </div>
            </div>
        </main>
<%- include('../includes/footer') %>