</head>

<body>
  <header>
    <div class="header-container">
      <h1 class="mb-0"><a href="/admin" class="logo"><img src="/img/assets/dev-center-logo-white.png" height="60"
            alt="dev center logo"></a></h1>
      <nav class="custom-navbar">
        <ul>
          <li><a class="custom-nav-link active" href="/admin">Home</a></li>
          <li><a class="custom-nav-link" href="/admin/create-blog">Create Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/generate-blog">Generate AI Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/blogs">All Blogs</a></li>
          <% if (isAdmin) { %>
            <li><a class="custom-nav-link" href="/admin/categories">Category</a></li>
          <% } %>
          <% if (isAdmin) { %>
            <li><a class="custom-nav-link" href="/admin/users">Users</a></li>
          <% } %>
        </ul>

        <span class="signup-btn"><a href="/">User Portal</a></span>
        <form action="/logout" method="post">
          <button type="submit" class="logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
      </nav>
      <div class="humberger-menu" id="humberger_menu_btn__ID">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="custom-navbar-mobile">
        <ul>
          <li><a class="custom-nav-link active" href="/admin">Home</a></li>
          <li><a class="custom-nav-link" href="/admin/create-blog">Create Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/generate-blog">Generate AI Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/blogs">All Blogs</a></li>
          <% if (isAdmin) { %>
            <li><a class="custom-nav-link" href="/admin/categories">Category</a></li>
          <% } %>
          <% if (isAdmin) { %>
            <li><a class="custom-nav-link" href="/admin/users">Users</a></li>
          <% } %>
        </ul>
        <div class="text-center mb-3">
          <a href="/"><button class="custom-btn signup-btn">User Portal</button></a>
        </div>
        <form action="/logout" method="post">
          <button type="submit" class="logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
      </nav>
    </div>
  </header>