</head>

<body>
  <header>
    <div class="header-container">
      <h1 style="display: none;"><a href="/admin" class="logo">Dev <span class="logo-span">Center</span></a></h1>
      <h1><a href="/" class="logo"><img src="/img/assets/website-logo.png" alt="" srcset=""></h1>
      <nav class="custom-navbar">
        <ul>
          <li><a class="custom-nav-link active" href="/admin">Home</a></li>
          <li><a class="custom-nav-link" href="/admin/categories">Category</a></li>
          <li><a class="custom-nav-link" href="/admin/create-blog">Create Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/blogs">All Blogs</a></li>
        </ul>
        <span class="signup-btn"><a href="/">User Portal</a></span>
        <form action="/logout" method="post">
          <button type="submit" class="logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
      </nav>
      <div class="humberger-menu" id="humberger_menu_btn__ID">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="custom-navbar-mobile">
        <ul>
          <li><a class="custom-nav-link active" href="/admin">Home</a></li>
          <li><a class="custom-nav-link" href="/admin/categories">Category</a></li>
          <li><a class="custom-nav-link" href="/admin/create-blog">Create Blog</a></li>
          <li><a class="custom-nav-link" href="/admin/blogs">All Blogs</a></li>
        </ul>
        <div class="text-center mb-3">
          <a href="/"><button class="custom-btn signup-btn">User Portal</button></a>
        </div>
        <form action="/logout" method="post">
          <button type="submit" class="logout-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
      </nav>
    </div>
  </header>