<%- include('../includes/head', {webTitle: 'Home'}) %>
<%- include('../includes/header') %>

<!-- Home Container :: Begins -->
<main>

</main>
<!-- Home Container :: Begins -->

<%- include('../includes/footer') %>